* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px dashed red;
}

body {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 25vh 25vh 25vh 25vh;
}

.item1 {
  background-color: rebeccapurple;
  opacity: 0.4;
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}
.item2 {
  background-color: rgb(113, 86, 201);
  opacity: 0.4;
  grid-column: 4 / 5;
  grid-row: 1 / 4;
}
.item3 {
  background-color: rgb(113, 86, 201);
  opacity: 0.4;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

.item4 {
  background-color: rebeccapurple;
  opacity: 0.4;
  grid-column: 4 / 4;
  grid-row: 4 / 5;
  display: flex;
  text-align: center;
  justify-content: center;
}
